/TestApp.py

/QSS-master/ManjaroMix.qss
/QSS-master/LICENSE
/QSS-master/MaterialDark.qss
/QSS-master/NeonButtons.qss
/QSS-master/MacOS.qss
/QSS-master/ElegantDark.qss
/QSS-master/AMOLED.qss
/QSS-master/ConsoleStyle.qss
/QSS-master/Ubuntu.qss
/QSS-master/README.md
/QSS-master/QSS_IMG/go-down-symbolic.symbolic.png
/QSS-master/QSS_IMG/object-select-symbolic.symbolic.png
/QSS-master/QSS_IMG/go-up-symbolic.symbolic.png
/QSS-master/QSS_IMG/go-previous-symbolic.symbolic.png
/QSS-master/QSS_IMG/go-next-symbolic.symbolic.png
